.footer {
  background-color: var(--c-midnight-blue);
  font-size: 35px;
  line-height: 35px;

  &-wrapper {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    display: flex;
    gap: 10px;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  &-icons {
    padding-bottom: 40px;
  }

  &-list {
    display: flex;
    gap: 10px;

    &-item {
      height: 38px;
      width: 38px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
