mixin main()
  main 
    div.wrapper.blocks
      +circle('circle-big')
      .content 
        +line 
        +line('line--45')
        +line('line--90')
        +line('line--135')
        +circle-line('circle-line--top')
        +circle-line('circle-line--top-right')
        +circle-line('circle-line--right')
        +circle-line('circle-line--right-bottom')
        +circle-line('circle-line--bottom')
        +circle-line('circle-line--left-bottom')
        +circle-line('circle-line--left')
        +circle-line('circle-line--left-top')
      +circle('circle-small')