body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

a {
  padding-left: 10px;
  padding-right: 10px;
}

/* * Titles */
.blocks-title {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 35px;
  margin-top: 120px;
  margin-bottom: 80px;
  color: var(--c-black);
}

/* * Section 1 */
.blocks-city {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b b"
    "c c d"
    "e f f";
  gap: 30px;
  max-width: 100%;
}

.blocks-city-2 {
  grid-area: b;
  display: flex;
  position: relative;
}

.blocks-city-1 {
  grid-area: a;
  display: flex;
  position: relative;
}

.blocks-city-3 {
  grid-area: c;
  display: flex;
  position: relative;
}

.blocks-city-4 {
  grid-area: d;
  display: flex;
  position: relative;
}

.blocks-city-5 {
  grid-area: e;
  display: flex;
  position: relative;
}

.blocks-city-6 {
  grid-area: f;
  display: flex;
  position: relative;
}

.image {
  border-radius: 20px;
}

.image-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: var(--c-white);
  font-size: 20px;
}

.image-content-date {
  color: var(--c-gray);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* * Section 2 */
.blocks-life {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "g h h"
    "i i j"
    "k k l";
  gap: 30px;
  max-width: 100%;
}

.blocks-life-2 {
  grid-area: h;
  display: flex;
  position: relative;
}

.blocks-life-1 {
  grid-area: g;
  display: flex;
  position: relative;
}

.blocks-life-3 {
  grid-area: i;
  display: flex;
  position: relative;
}

.blocks-life-4 {
  grid-area: j;
  display: flex;
  position: relative;
}

.blocks-life-5 {
  grid-area: k;
  display: flex;
  position: relative;
}

.blocks-life-6 {
  grid-area: l;
  display: flex;
  position: relative;
}

/* * Section 3 */
.blocks-people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "m n o"
    "p n q"
    "r s q"
    "r t t"
    "u u v";
  gap: 30px;
  max-width: 100%;
}

.blocks-people-2 {
  grid-area: n;
  display: flex;
  position: relative;
}

.blocks-people-1 {
  grid-area: m;
  display: flex;
  position: relative;
}

.blocks-people-3 {
  grid-area: o;
  display: flex;
  position: relative;
}

.blocks-people-4 {
  grid-area: p;
  display: flex;
  position: relative;
}

.blocks-people-5 {
  grid-area: q;
  display: flex;
  position: relative;
}

.blocks-people-6 {
  grid-area: r;
  display: flex;
  position: relative;
}

.blocks-people-7 {
  grid-area: s;
  display: flex;
  position: relative;
}

.blocks-people-8 {
  grid-area: t;
  display: flex;
  position: relative;
}

.blocks-people-9 {
  grid-area: u;
  display: flex;
  position: relative;
}

.blocks-people-10 {
  grid-area: v;
  display: flex;
  position: relative;
}

