// colors
:root {
  --c-white-smoke: #efeef3;
  --c-black: #111111;
  --c-light-slate-gray: #7690a8;
  --c--medium-sea-green: #3DB370;
  --c-midnight-blue: #16133D;
  // Fonts
  --f-base: "Roboto", sans-serif;
}
